body {
  margin: 0;
  font-family: 'Pokemon8bit',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CC0000;
}


/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}


@font-face {
  font-family: 'Pokemon8bit';
  src: local('Pokemon8bit'), url(./fonts/Pokemon8bit/PokemonClassic.ttf) format('truetype');
}

@font-face {
  font-family: 'PokemonLogoBlack';
  src: local('PokemonLogo'), url(./fonts/PokemonLogo/PokemonLogoBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'PokemonLogoHollow';
  src: local('PokemonLogoHollow'), url(./fonts/PokemonLogo/PokemonLogoHollow.ttf) format('truetype');
}

@font-face {
  font-family: 'Ketchum';
  src: local('PokemonLogo'), url(./fonts/PokemonLogo/Ketchum.otf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
